* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: 'Cormorant Garamond';
  background-color: #ffffff;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 100px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 60px;
  font-weight: normal;
}

.header input.search {
	position: relative;
	left: 60px;
	width: 360px;
	float: left	;
  	padding: 10px 25px;
  	border: none;
  	margin-top: 8px;
  	font-size: 18px;
  	border-radius: 60px;
  	border: 1px solid #820707;
  	background-color: #ffffff;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  color: #00A7F6;
}

.header-right {
  float: right;
}

.second-line {
	overflow: hidden;
  	background-color: #ffffff;
  	padding: 20px 50px;
  	border-top-style: none;
  	border-right-style: none;
  	border-bottom-style: solid;
  	border-left-style: none;
  	border-width: 1px;
  	border-color: #820707;
  	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.06); /* this adds the "card" effect */
}

.second-line a {
	position: relative;
	left: 30%;
  	color: black;
  	text-align: center;
  	padding: 12px 40px;
  	text-decoration: none;
  	font-size: 18px; 
  	line-height: 25px;
  	border-radius: 4px;
}

.second-line a:hover {
	background-color: #ddd;
  	color: black;
}

.top-vines {
	padding: 20px 100px;
}

.top-vines-text {
	font-size: 60px;
}

.column {
	padding: 80px 10px;
  	float: left;
  	width: 33.33%;
}

.card {
	height: 470px;
  padding: 20px;
  text-align: center;
  border: 1px solid #820707;
  border-radius: 30px;
}

.vine-image {
	position: relative;
	left: -110px;
	top: -80px;	
}

.vine-rating {
	position: relative;
	font-size: 30px;
	top: -300px;
	left: 50px;
}

.vine-flag {
	position: relative;
	top: -320px;
	left: 70px;
	width: 75px;
	height: 45px;
}

.vine-description {
	text-align: left;
	font-size: 24px;
	position: relative;
	top: -270px;
	left: 0px;
}

.vine-row:after {
  	content: "";
  	display: table;
  	clear: both;
}

.image {
	text-align: center;
	background-image: url("./img/image2.png");
	width: 100%;
	padding: 30px;
	height: 400px;
}

.flags {
	padding: 40px;
	height: 370px;
}

.flags-image {
	float: right;
	background-image: url("./img/flags2.jpg");
	height: 365px;
	width: 704px;
	position: relative;	
	box-shadow: 0 24px 10px 0 rgba(0, 0, 0, 0.06); /* this adds the "card" effect */
}

.title {
	position: relative;
	float: left;
	font-size: 30px;
	top: 180px;
	left: 70px;
}

.footer {
	position: relative;
	top: 150px;
	height: 90px;
	background-color: #D9D9D9;
}

.footer a {
	position: relative;	
	left: 100px;
	top: 20px;
	float: left;
  	color: black;
  	text-align: left;
  	padding: 15px;
  	text-decoration: none;
  	font-size: 24px; 
  	line-height: 25px;
  	border-radius: 4px;
}

.copyright {
	position: relative;	
	left: 650px;
	top: 20px;
	float: right;
  	color: black;
  	text-align: left;
  	padding: 15px;
  	text-decoration: none;
  	font-size: 24px; 
  	line-height: 25px;
  	border-radius: 4px;
}